[Unit]
Description=Fireactions server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/fireactions server --config /etc/fireactions/config.yaml
Restart=on-failure
KillMode=control-group
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target
